/* Main */
html{
    height: 100%;
}
body{
    height: 100%;
}
/* Menu */
.left-menu{
    width: 20%;
    height: 100%;
    background-color: black;
    position: fixed;
    left: 0;
    top: 0;
    float: left;
}
.menu-bar{
    width: 95%;
    float: left;
}
.menu-bar p{
    color: white;
}
.left-menu-edge{
    width: 5%;
    height: 100%;
    background-color: rgb(1, 194, 219);
    float: left;
}
/* Title */
.title-row{
    width: 7%;
    height: 100%;
    background-color: black;
    position: fixed;
    right: 0;
    top: 0;
}
.title-row h2{
    padding-top: 10px;
    font-size: 35px;
    width: 1ch; 
    text-align: center;
    margin-left: 40%;
    font: Consolas, Monaco, monospace; 
    word-wrap: break-word;
    color: white;
}
/* All information */
.all-info{
    width: 69%;
    float: left;
    margin-left: 21.7%;
}
.qos-page-header{
    width: 100%;
    height: 760px;
    position: relative;
    overflow: hidden;
}
.qos-page-header img{
    height: 40%;
    width: auto;
}