html{
    width: 100%;
    height: 100%;
}
body{
    width: 100%;
    height: 100%;   
}
/* Menu */
.menu-bar{
    width: 100%;
    height: 10%;
    background-color: black;
}
.menu-bar ul{
    padding-left: 20%;
    padding-top: 1.5%;
    font-size: x-large;
}
.menu-bar li{
    padding-left: 5%;
    display: inline-block;
}
.menu-bar a{
    color: white;
    text-decoration: none;
}
.menu-bar a:hover{
    text-decoration: underline;
}
/* Content */
.content{
    width: 80%;
    height: 230%;
    margin: 5% 10% 5% 10%;
    background-color: rgb(207, 207, 207);
    border: 2px solid black;
}
.block{
    width: 70%;
    height: 19%;
    margin: 5% 15% 5% 15%;
    border-bottom: 2px dotted black;
}
.song-img{
    width: 40%;
    height: fit-content;
    margin-bottom: 10%;
    margin-left: 5%;
    float: right;
}
    .song-img img{
        width: 80%;
        height: auto;
    }
.song-info{
    width: 40%;
    height: 80%;
    margin-bottom: 10%;
    margin-right: 7.5%;
    margin-left: 5%;
    float: right;
}
    .song-info h2{
        text-align: center;
        margin-top: 10%;
        font-size: xx-large;
    }
    .song-info p{
        margin-left: 20%;
        padding-top: 4%;
    }
    .song-info a{
        color: black;
        text-decoration: none;
    }
/* Footer */
footer{
    width: 100%;
    height: 20%;
    background-color: black;
}
.footer-name{
    width: 20%;
    height: 100%;
    float: right;
}
    .footer-name p{
        padding-top: 20%;
        text-align: left;
        color: white;
        font-size: 12px;
    }
.footer-logo{
    width: 30%;
    height: 100%;
    float: right;
}
    .footer-logo img{
        width: 15%;
        height: auto;
        margin-left: 85%;
        margin-top: 8%;
    }
.footer-menu{
    width: 20%;
    height: 100%;
    float: right;
}
    .footer-menu ul{
        margin-left: 40%;
        margin-top: 10%;
    }
    .footer-menu li{
        padding-top: 1%;
    }
    .footer-menu a{
        color: white;
    }
.footer-mail{
    width: 30%;
    height: 100%;
    float: right;
}
.footer-mail p{
    text-align: center;
    color: white;
    font-size: 12px;
    margin-top: 15%;
}